<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('asset/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
    {#{% include "@CKSourceCKFinder/setup.html.twig" %}#}
</head>
<body>
<header>
    <div class="container header-container">
        <div class="row">
            <div class="col-12 header-title">
                <h1>Elevage du Bois des Volcans</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mr-3 header-link"><a href="{{ path('home') }}"><p>Acceuil</p></a></div>
            <div class="col-2 mr-3 header-link"><a href="{{ path('dogs_presentation') }}"><p>Les Adultes</p></a></div>
            <div class="col-2 mr-3 header-link"><a href="{{ path('annonce') }}"><p>Les Portées</p></a></div>
            <div class="col-2 mr-3 header-link"><a href="{{ path('home') }}"><p>Un Compagnon</p></a></div>
            <div class="col-2 mr-3 header-link"><a href="{{ path('home') }}"><p>Plan d'Accès</p></a></div>
        </div>
    </div>
</header>

{% block body %}{% endblock %}
<footer>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('dogs_index') }}">Panneau d'Administration</a>
        <a href="/logout">Deconnexion</a>
    {% else %}
    <a href="/login">Connexion admin</a>
    {% endif %}
</footer>
{#<script src="/build/app.js" crossorigin="anonymous"></script>#}
{#<script src="/asset/script.js" crossorigin="anonymous"></script>#}
<script src="{{ asset('build/dropZone.js') }}"></script>
<script src="{{ asset('asset/dropzone.js') }}"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
